.frame {
	/* .frame */
	
	position: relative;
	width: 276px;
	height: 339px;
	
	background: #6FCF97;
	
	
}
.rect {
	/* .rect */
	
	position: absolute;
	width: 276px;
	height: 99px;
	left: 0px;
	top: 240px;
	
	background: #C4C4C4;
	
	
}
.circle {
	/* .circle */
	
	position: absolute;
	width: 114px;
	height: 113px;
	left: 75px;
	top: 0px;
	
	background: #C4C4C4;
}
